.btn {
  border-radius: 15px;
  color: wheat;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px;
}

.btn--primary {
  background-color: rgb(85, 85, 200);
}

.btn--secondary {
  background-color: rgb(82, 78, 78);
}

.btn--small {
  font-size: 14px;
}

.btn--medium {
  font-size: 18px;
}